* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

@media screen and (max-width: 600px) {
    body {
        background-color: white;
    }
}

.header {
    padding: 90px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    
}

.header h1 {
    font-size: 50px;
    text-align: center;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    text-align: end;
}

.header ul li {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(prius.jpeg);
    background-size: cover;
    background-position: center;
    border: 2px solid white;
}

.float-left {
    float: left;
    margin-right: 50px;
}

.content {
    width: 80%;
    display: inline-block;
    margin-left: 50px;
}

.Published-Applications {
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 100px;
    height: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: salmon;
    color: white;
}

.About-Me {
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 100px;
    height: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: salmon;
    color: white;
}

.Contact-Information {
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 100px;
    height: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: salmon;
    color: white;
}

.Live-Apps {
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 100px;
    height: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: salmon;
    color: white;
    text-align: center;
}

.Published-Applications img {
    max-height: 250px;
    max-width: 250px;
}

.Contact-Information img {
    max-height: 250px;
    max-width: 250px;
}

.About-Me img {
    max-height: 250px;
    max-width: 250px;
}

.Live-Apps img {
    max-height: 250px;
    max-width: 250px;
    justify-content: space-evenly;
}

.Published-Applications h2 {
    font-size: 30px;
}
.Contact-Information h2 {
    font-size: 30px;
}

.About-Me h2 {
    font-size: 30px;
}


